
:root {
    --borderBorderBoarder: 5px solid #281b1b;    
    --borderBorderAbbott: 5px solid #c16464;    
    --borderBorderEy4: 6px solid #da6464;    
    --borderBorderBellBoarder: 4px solid #c36666;    
    --borderBorderLaPosteBoarder: 3px solid #be8080;    
    --borderBorderFossBoarder: 5px solid #d42121;    
    --borderBorderNewTestBoarderValue: 3px solid #cd2727;    
    --borderBorderKelkioBoarder: 3px solid #a1f72c;    
    --borderBorderNewBoarder: 4px solid #e22424;    
    --borderBorderName: 4px solid #db5e5e;    
    --borderBorderBoarderSn: 3px solid #973434;    
    --borderBorderNewOne: 3px solid #bb4242;    
    --borderBorderToken1: 4px solid #7d2d2d;    
    --borderBorderToken2: 5px solid #ac1111;    
    --borderBorderToken3: 3px solid #eb5c5c;    
    --borderBorderSnBoarder: 3px solid #972323;    
    --borderBorderFsecure: 3px solid #bd3232;    
    --borderBorderToken4: 5px solid #000000;    
    --borderBorderSnBoarder: 3px solid #c96a6a;    
    --borderBorderToken5: 6px solid #b92a2a;    
    --borderBorderToken6: 4px solid #b43b3b;    
    --borderBorderToken7: 4px solid #781414;    
    --borderBorderToken8: 4px solid #a94444;    
    --borderBorderToken9: 5px solid #a43d3d;    
    --borderBorderToken10: 3px solid #d42121;    
    --borderBorderSnBoarder: 4px solid #921717;    
    --borderBorderSnBoarder: 5px solid #742121;    
    --borderBorderToken11: 3px solid #953e3e;    
    --borderBorderName: 4px solid #c03232;    
    --borderBorderToken12: 3px solid #c26161;    
    --borderBorderToken13: 1px solid #000000;    
    --borderBorderToken14: 4px solid #c16464;    
    --borderBorderSnBoarder: 3px solid #a03636;    
    --borderBorderToken15: 3px solid #581111;    
    --borderBorderBoarder: 4px solid #942929;    
    --borderBorderToken16: 4px solid #c94f4f;    
    --borderBorderToken17: 3px solid #c85757;    
    --borderBorderToken18: 3px solid #cd6666;    
    --borderBorderSnBoarder: 4px solid #c05353;    
    --borderBorderToken19: 4px solid #9c4d4d;    
    --borderBorderToken20: 3px solid #8e2424;    
    --borderBorderToken21: 4px solid #1c1818;    
    --borderBorderToken22: 5px solid #901818;    
    --borderBorderSnToken: 4px solid #2f2626;    
    --borderBorderSn: 3px solid #a02c2c;    
    --borderBorderToken23: 3px solid #901d1d;    
    --borderBorderSnToken: 3px solid #8f1b1b;    
    --borderBorderToken24: 3px solid #b64646;    
    --borderBorderNewToken: 4px solid #c95252;    
    --borderBorderSnBorader: 4px solid #b42020;    
    --borderBorderToken25: 1px solid #ba3939;    
    --borderBorderBoarder: 3px solid #6b1717;    
    --borderBorderToken26: 3px solid #b74848;    
    --borderBorderBoarder: 3px solid #9a3d3d;    
    --borderBorderToken27: 3px solid #000000;    
    --borderBorderSnToken: 4px solid #d94a4a;    
    --borderBorderBorader: 4px solid #b54c4c;    
    --borderBorderToken28: 1px solid #000000;    
    --borderBorderBoarder: 4px solid #671d1d;    
    --borderBorderToken29: 5px solid #721c1c;    
}